---
uid: web-forms/videos/vs-2005/how-do-i-publish-and-analyze-test-results
title: '[Comment faire :] Publier et analyser des Résultats des tests ? | Microsoft Docs'
author: rick-anderson
description: Visual Studio Team System vous permet de représenter graphiquement les modifications dans la qualité du code d’un projet à mesure que le projet progresse. Cette vidéo fournit des instructions sur l’utilisation de publ...
ms.author: riande
ms.date: 07/16/2007
ms.assetid: 9fb155e0-1379-482c-963d-af7dc0397d76
msc.legacyurl: /web-forms/videos/vs-2005/how-do-i-publish-and-analyze-test-results
msc.type: video
ms.openlocfilehash: 80289680e4d40ec903524d9f4752b71d13db790e
ms.sourcegitcommit: e7e91932a6e91a63e2e46417626f39d6b244a3ab
ms.translationtype: MT
ms.contentlocale: fr-FR
ms.lasthandoff: 03/06/2020
ms.locfileid: "78641189"
---
# <a name="how-do-i-publish-and-analyze-test-results"></a>[Comment faire :] Publier et analyser des Résultats des tests ?

par [Chris Menegay](https://twitter.com/CMenegay)

Visual Studio Team System vous permet de représenter graphiquement les modifications dans la qualité du code d’un projet à mesure que le projet progresse. Cette vidéo fournit des instructions sur la façon de publier les résultats des tests dans la base de données de projet Team Foundation Server et d’associer les résultats à un numéro de Build. Nous voyons qu’une fois les résultats publiés, nous pouvons utiliser le Gestionnaire de rapports pour afficher une représentation graphique des modifications apportées aux résultats des tests de Build.

[&#9654;Regarder la vidéo (7 minutes)](https://channel9.msdn.com/Blogs/ASP-NET-Site-Videos/how-do-i-publish-and-analyze-test-results)

> [!div class="step-by-step"]
> [Précédent](how-do-i-use-generic-tests.md)
> [Suivant](how-do-i-discover-application-changes-prior-to-deployment.md)
