---
uid: web-forms/videos/vs-2005/how-do-i-publish-and-analyze-test-results
title: '[Comment faire :] Publier et analyser des Résultats des tests ? | Microsoft Docs'
author: rick-anderson
description: Visual Studio Team System vous permet de représenter graphiquement les modifications dans la qualité du code d’un projet à mesure que le projet progresse. Cette vidéo fournit des instructions sur l’utilisation de publ...
ms.author: riande
ms.date: 07/16/2007
ms.assetid: 9fb155e0-1379-482c-963d-af7dc0397d76
msc.legacyurl: /web-forms/videos/vs-2005/how-do-i-publish-and-analyze-test-results
msc.type: video
ms.openlocfilehash: 80289680e4d40ec903524d9f4752b71d13db790e
ms.sourcegitcommit: e7e91932a6e91a63e2e46417626f39d6b244a3ab
ms.translationtype: MT
ms.contentlocale: fr-FR
ms.lasthandoff: 03/06/2020
ms.locfileid: "78641189"
---
# <a name="how-do-i-publish-and-analyze-test-results"></a><span data-ttu-id="a25dd-105">[Comment faire :] Publier et analyser des Résultats des tests ?</span><span class="sxs-lookup"><span data-stu-id="a25dd-105">[How Do I:] Publish and Analyze Test Results?</span></span>

<span data-ttu-id="a25dd-106">par [Chris Menegay](https://twitter.com/CMenegay)</span><span class="sxs-lookup"><span data-stu-id="a25dd-106">by [Chris Menegay](https://twitter.com/CMenegay)</span></span>

<span data-ttu-id="a25dd-107">Visual Studio Team System vous permet de représenter graphiquement les modifications dans la qualité du code d’un projet à mesure que le projet progresse.</span><span class="sxs-lookup"><span data-stu-id="a25dd-107">Visual Studio Team System enables you to chart changes in a project's code quality as the project progresses.</span></span> <span data-ttu-id="a25dd-108">Cette vidéo fournit des instructions sur la façon de publier les résultats des tests dans la base de données de projet Team Foundation Server et d’associer les résultats à un numéro de Build.</span><span class="sxs-lookup"><span data-stu-id="a25dd-108">This video provides instructions on how to publish test results to the Team Foundation Server project database and associate the results with a build number.</span></span> <span data-ttu-id="a25dd-109">Nous voyons qu’une fois les résultats publiés, nous pouvons utiliser le Gestionnaire de rapports pour afficher une représentation graphique des modifications apportées aux résultats des tests de Build.</span><span class="sxs-lookup"><span data-stu-id="a25dd-109">We see that after the results are published we can use the Report Manager to view a graphical representation of changes in our build test results.</span></span>

[<span data-ttu-id="a25dd-110">&#9654;Regarder la vidéo (7 minutes)</span><span class="sxs-lookup"><span data-stu-id="a25dd-110">&#9654; Watch video (7 minutes)</span></span>](https://channel9.msdn.com/Blogs/ASP-NET-Site-Videos/how-do-i-publish-and-analyze-test-results)

> [!div class="step-by-step"]
> <span data-ttu-id="a25dd-111">[Précédent](how-do-i-use-generic-tests.md)
> [Suivant](how-do-i-discover-application-changes-prior-to-deployment.md)</span><span class="sxs-lookup"><span data-stu-id="a25dd-111">[Previous](how-do-i-use-generic-tests.md)
[Next](how-do-i-discover-application-changes-prior-to-deployment.md)</span></span>
